
.shortNotify {
    width:800px;
    height:99px;
    margin: 10px;
    border-radius: 31px;
    background: #F5F5F5;
    border:0;
}
.image-icon{
    padding:0 !important;
}
.appointment-person {
    margin: 9px 20px;
    width:81px;
    height:81px;
    border: 4px solid #000000;
    border-radius: 30px;
}
.part-1{
    width:700px;
}
.shortnotif-name{
    margin:15px 20px 0 0;
    font-size:20px;
}
.shortnotif-feedback{
    margin-left:16px;
    font-size:14px;
    width:460px;
    line-height: 19px;
}
.shortnotif-time{
    margin-top:15px;
    font-size:20px;
}
.shortnotif-date{
    margin-top:8px;
    font-size:20px;
}
.time, .date {
    position: absolute;
    right: 0;
    padding-right: 30px;
}
.notification-card {
    padding:30px;
    width: 800px;
    background: #f5f5f5;
    border:0;
    border-radius: 31px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
div.col-sm-1{
    top:10px ;
}
.col-sm-10{
    padding-left:20px ;
}
div.p-2{
    padding-top: 0px !important;
}
div.card.notification-card{
    padding-top:10px;
    padding-left:25px;
}
.years{
    font-size:22px;
    padding-top:0;
}
.base-img{
    position: relative;
}
.type-of-appointment{
    position: absolute;
    width:25px;
    height:25px;
    top:-5px;
    left:60px;
    border-radius:50% ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div.doctor-name{
    width:600px;
}
.card-img{
    width:81px;
    height:81px;
    border: 4px solid #000000;
    border-radius: 30px;
}
.vertical-line{
    margin: 0 0 0 35px;
}
.D-name{
    margin-top: -10px !important;
    font-size: 22px;
}
.P-name{
    font-size: 22px;
    padding-bottom: 0 !important;
}
.doctor-speciality{
    font-size: 18px;
}
.doctor-location{
    float:right;
    font-size: 18px;
    margin-left:24px;
}
.btn-call, .btn-book{
    width:60px;
    height:27px;
    font-size:16px !important;
}
.btn-outline{
    border-color: #1A936F;
    border-radius:7px !important;
}
.btn-outline:hover{
    background-color: #1A936F;
    color:white !important;
}
div.appointment-detail-time{
    width:530px;
    margin-top:20px;
    margin-bottom:30px;
    font-size: 15px;
    margin-left:-45px;
}
.id, .status{
    margin-top:5px !important;    
}
.feedback-detail-time{
    width:500px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin:5px 0 20px 0;
}
.four{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.col.quick-comment{
    width:200px !important;
    height:50px !important;
    padding:10px 0 10px 15px ;  
}
.quich-comment-bg{
    padding:5px 10px;
    border-radius: 15px;
}
.feedback-bottom{
    padding:10px;
}
.del-edit-button{
    padding-right:45px;
}
.btn-outline-del{
    border-color: #CC6565;
    font-size: 16px !important;    
    border-radius:7px !important;
}
.btn-outline-del:hover{
    background-color: #CC6565;
    color:white !important;
}
.btn-outline-edit{
    border-color: #D996DB;
    font-size: 16px !important;
    border-radius:7px !important;
    margin-left:15px !important;
}
.btn-outline-edit:hover{
    background-color: #D996DB;
    color:white !important;
}
.rating-button{
    margin-top:0;
    margin-bottom:30px;
}
.star{
    color:#45AA49;
}
.starbg{
    color:#C4C4C4;
}
.rating{
    padding-left:370px;
    margin-right:0 !important;
}


